<launch>

  <arg name="setting_file" default="/home/nvidia/quemaofei/ORB_SLAM2_GPU/gpu/TX1.yaml" />
  <arg name="voc_file"     default="/home/nvidia/quemaofei/ORB_SLAM2_GPU/Vocabulary/ORBvoc.txt.bin" />
  <node pkg="ORB_SLAM2_GPU" type="tx1" name="tx1" output="screen"
   args="$(arg voc_file) $(arg setting_file)" />

</launch>
